@import url("../fonts/zalando-sans/index.css");
@import url("../fonts/ibm-plex-mono/index.css");

@tailwind base;

@layer base {
  html {
    font-size: 18px;
  }
  a {
    @apply text-violet-600 hover:text-violet-600 hover:underline dark:text-violet-300 dark:hover:text-violet-300;
  }

  header a {
    @apply text-zinc-800 dark:text-zinc-200;
  }
}

@tailwind components;
@tailwind utilities;

.icon-tabler {
  stroke: currentColor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}
