---
layout: layouts/default
title: Books
metaTagline: A list of books that I'm reading or have finished.
---

<p class="mb-4">
  {{ metaTagline }} Read about how I created this page in
  <a href="/posts/2025/creating-a-books-page">this blog post</a>.
</p>

<p class="mb-4 italic">Last updated: {{ books.lastUpdated | dateByFormat("MMMM d, y") }}</p>

<div class="my-8">
  <h2 class="my-4 flex items-baseline justify-between gap-x-4 text-lg font-bold" id="current">
    Currently Reading
    <span class="text-sm">{{ books.current.length }} book{%- if books.current.length > 1 -%}s{%- endif -%}</span>
  </h2>
  <div class="grid justify-around gap-6 [grid-template-columns:repeat(auto-fill,140px)]">
    {%- for book in books.current %}
      <div class="grid grid-rows-subgrid gap-y-1 [grid-row:span_2]">
        <a href="https://www.goodreads.com/book/show/{{ book.goodreadsId }}" class="grid items-end">
          {% set alt -%}Cover of {{ book.title }} by {{ book.author }}{%- endset %}
          {% set title -%}{{ book.title }} by {{ book.author }}{%- endset %}
          {% image book.coverUrl, alt, title, ["140"], "object-fit b-2 hover:rounded hover:outline hover:outline-4 hover:outline-blue-600 dark:hover:outline-yellow-500", book.goodreadsId %}
        </a>
        <div class="flex flex-col gap-y-1 text-sm">
          <div class="text-balance font-bold">{{ book.title }}</div>
          <div class="text-xs">{{ book.author }}</div>
          <div class="flex items-center gap-x-1 text-xs">
            {%- if book.binding === 'audiobook' -%}
              <span>{%- iconify "headphones", false, 20 -%}</span>
            {%- endif %}
          </div>
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>

<div class="my-8">
  <div class="my-4 flex flex-wrap items-baseline justify-between gap-x-4">
    <h2 class="text-lg font-bold" id="finished">Finished Reading</h2>
    <div class="flex flex-wrap items-center gap-x-2 text-sm">
      <span class="inline-flex">{%- iconify "headphones", false, 20 -%} = audiobook</span>
      <span class="inline-flex"
        ><span class="text-yellow-500">{%- iconify "star", true, 18 -%}</span> = really liked it</span
      >
    </div>
  </div>

  {%- set years = books.read | getBookDateReadYears %}
  {%- for year in years %}
    {%- set subBooks = books.read | booksByYear(year) | sortDateByKey("dateRead", "desc") -%}
    <div class="mb-8">
      <h3 class="my-3 flex items-baseline justify-between gap-x-4 font-bold" id="{{ year }}">
        {{ year }}
        <span class="text-sm">{{ subBooks.length }} book{%- if subBooks.length > 1 -%}s{%- endif -%}</span>
      </h3>

      <div class="grid justify-evenly gap-6 [grid-template-columns:repeat(auto-fill,140px)]">
        {%- for book in subBooks %}
          <div class="grid grid-rows-subgrid gap-y-1 [grid-row:span_2]">
            <a href="https://www.goodreads.com/book/show/{{ book.goodreadsId }}" class="grid items-end">
              {% set alt -%}Cover of {{ book.title }} by {{ book.author }}{%- endset %}
              {% set title -%}{{ book.title }} by {{ book.author }}{%- endset %}
              {% image book.coverUrl, alt, title, ["140"], "object-fit b-2 hover:rounded hover:outline hover:outline-4 hover:outline-blue-600 dark:hover:outline-yellow-500", book.goodreadsId %}
            </a>
            <div class="flex flex-col gap-y-1 text-sm">
              <div class="text-balance font-bold">{{ book.title }}</div>
              <div class="text-xs">{{ book.author }}</div>
              <div class="flex items-center gap-x-1 text-xs">
                {%- if book.rating > 3 %}
                  <span class="text-yellow-500">{%- iconify "star", true, 18 -%}</span>
                {%- endif %}
                {%- if book.binding === 'audiobook' -%}
                  <span>{%- iconify "headphones", false, 20 -%}</span>
                {%- endif %}
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  {%- endfor %}
</div>

<div class="my-8">
  <h2 class="my-4 text-lg font-bold" id="tbr">To Be Read</h2>
  <p class="mb-4">I'll definitely get around to reading those ADHD books one day...</p>
  <details>
    <summary>List of books</summary>
    <ul>
      {%- for book in books.tbr | sortByKey("title") %}
        <li class="my-2">
          <a class="font-bold" href="https://www.goodreads.com/book/show/{{ book.goodreadsId }}">{{ book.title }}</a>
          {{ book.author }}
        </li>
      {%- endfor -%}
    </ul>
  </details>
</div>

<div class="my-8">
  <h2 class="my-4 text-lg font-bold" id="dnf">Did Not Finish</h2>
  <p class="mb-4">
    While there's usually no specific reason why I choose not to finish a book, generally it comes down to "just
    couldn't get into it".
  </p>
  <details>
    <summary>List of books</summary>
    <ul>
      {%- for book in books.dnf | sortByKey("title") %}
        <li class="my-2">
          <a class="font-bold" href="https://www.goodreads.com/book/show/{{ book.goodreadsId }}">{{ book.title }}</a>
          {{ book.author }}
        </li>
      {%- endfor -%}
    </ul>
  </details>
</div>

<div class="my-8">
  <p>Covers provided (mostly) by <a href="https://openlibrary.org/">OpenLibrary</a></p>
</div>
