---
layout: layouts/default
title: Books
description: Tracking the books I have read or am currently reading
---

<p class="mb-4">
  This page is a tracker of sorts for my personal reading. Read about how I
  <a href="/posts/2025/creating-a-books-page">created this page</a> and how I
  <a href="/posts/2025/managing-my-books-data">manage the data</a>. See also my similar in purpose
  <a href="/records">records collection</a>.
</p>

<p class="mb-4 italic">Last updated: {{ books.lastUpdated | dateByFormat("MMMM d, y") }}</p>

<div class="my-8">
  <div class="my-4 flex items-baseline justify-between gap-x-4" id="current">
    <h2 class="text-lg font-bold">Currently Reading</h2>
    <span class="text-sm">{{ books.current.length }} book{%- if books.current.length > 1 -%}s{%- endif -%}</span>
  </div>
  <div class="grid justify-around gap-6 [grid-template-columns:repeat(auto-fill,140px)]">
    {%- for book in books.current %}
      <div class="grid grid-rows-subgrid gap-y-1 [grid-row:span_2]">
        <a href="https://www.goodreads.com/book/show/{{ book.goodreadsId }}" class="grid items-end">
          {% set alt -%}Cover of {{ book.title }} by {{ book.author }}{%- endset %}
          {% set title -%}{{ book.title }} by {{ book.author }}{%- endset %}
          {% image book.coverUrl, alt, title, ["140"], "object-fit b-2 hover:rounded hover:outline hover:outline-4 hover:outline-blue-600 dark:hover:outline-yellow-500", book.goodreadsId %}
        </a>
        <div class="flex flex-col gap-y-1 text-sm">
          <div class="text-balance font-bold">{{ book.title }}</div>
          <div class="text-xs">{{ book.author }}</div>
          <div class="flex items-center gap-x-1 text-xs">
            {%- if book.binding === 'audiobook' -%}
              <span>{%- iconify "headphones", false, 20 -%}</span>
            {%- endif %}
          </div>
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>

<div class="my-8">
  <div class="my-4">
    <h2 class="text-lg font-bold" id="finished">Finished Reading</h2>
    <p class="mb-4">
      This list of finished books is missing many entries. It only contains what I tracked on Goodreads for a few years,
      then manually tracking. I was not very thorough.
    </p>
    <div class="flex justify-end gap-x-2 text-sm">
      <span class="inline-flex items-center">{%- iconify "headphones", false, 18 -%} = audiobook</span>
      <span class="inline-flex items-center"
        ><span class="text-yellow-500">{%- iconify "star", true, 16 -%}</span> = really liked it</span
      >
    </div>
  </div>

  {%- set years = books.read | getBookDateReadYears %}
  {%- for year in years %}
    {%- set subBooks = books.read | booksByYear(year) | sortDateByKey("dateRead", "desc") -%}
    <div class="mb-8">
      <h3 class="my-3 flex items-baseline justify-between gap-x-4 font-bold" id="{{ year }}">
        {{ year }}
        <span class="text-sm">{{ subBooks.length }} book{%- if subBooks.length > 1 -%}s{%- endif -%}</span>
      </h3>

      <div class="grid justify-evenly gap-6 [grid-template-columns:repeat(auto-fill,140px)]">
        {%- for book in subBooks %}
          <div class="grid grid-rows-subgrid gap-y-1 [grid-row:span_2]">
            <a href="https://www.goodreads.com/book/show/{{ book.goodreadsId }}" class="grid items-end">
              {% set alt -%}Cover of {{ book.title }} by {{ book.author }}{%- endset %}
              {% set title -%}{{ book.title }} by {{ book.author }}{%- endset %}
              {% image book.coverUrl, alt, title, ["140"], "object-fit b-2 hover:rounded hover:outline hover:outline-4 hover:outline-blue-600 dark:hover:outline-yellow-500", book.goodreadsId %}
            </a>
            <div class="flex flex-col gap-y-1 text-sm">
              <div class="text-balance font-bold">{{ book.title }}</div>
              <div class="text-xs">{{ book.author }}</div>
              <div class="flex items-center gap-x-1 text-xs">
                {%- if book.rating > 3 %}
                  <span class="text-yellow-500">{%- iconify "star", true, 14 -%}</span>
                {%- endif %}
                {%- if book.binding === 'audiobook' -%}
                  <span>{%- iconify "headphones", false, 16 -%}</span>
                {%- endif %}
              </div>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  {%- endfor %}
</div>

<div class="my-8">
  <p>
    Covers provided by <a href="https://openlibrary.org/">OpenLibrary</a>,
    <a href="https://commons.wikimedia.org/">Wikimedia</a>, or where ever I could find it.
  </p>
</div>
