---
layout: layouts/base
description: The personal website of Spencer Harston
---

{%- from "macros/posts-list.njk" import postsList %}

<h1 class="mb-4 text-3xl font-bold">Spencer Harston</h1>
<p>My personal website in the depths of the Internet</p>

<hr class="my-8" />

{% set latestPosts = collections.posts | sortDateByKey("date", "desc") | limit(5) %}

<section>
  <h2 class="mb-4 text-2xl">Latest Posts</h2>
  {{ postsList(latestPosts) }}
  <a href="/posts">More →</a>
</section>
