---
layout: layouts/base
description: The personal website of Spencer Harston
---

<section class="my-8">
  <p class="mb-2 text-balance text-xl">
    The website of <b>Spencer Harston</b>, a fellow voyager of the vast ocean of the Internet
  </p>
  <a href="/about">More about me →</a>
</section>

<section class="my-8">
  <h2 class="mb-2 text-2xl">Recent Posts</h2>
  {%- from "macros/posts-list.njk" import postsList %}
  {% set latestPosts = collections.posts | sortDateByKey("date", "desc") | limit(3) %}
  {{ postsList(latestPosts) }}
  <a href="/posts">All posts →</a>
</section>

<section class="my-8">
  <h2 class="mb-2 text-2xl">Elsewhere</h2>
  <p class="mb-2">You can find and connect with me on these other fine networks</p>
  {% include 'partials/socials.njk' %}
</section>

<section class="my-8">
  <now-playing username="spencer314"></now-playing>
</section>
