---
layout: layouts/default
title: Records
description: My collection of vinyl records
---

<p class="mb-4">
  I recently purchased my first record player, so now I'm obligated to inventory the records I collect. See
  <a href="#">the post</a> describing how I built this page, as well as the similar in purpose
  <a href="/books">/books</a> page.
</p>

<p class="mb-4 italic">Last updated: {{ records.lastUpdated | dateByFormat("MMMM d, y") }}</p>

<div class="my-8">
  <h2 class="my-4 text-lg font-bold">List of Records</h2>

  <div class="grid justify-around gap-6 [grid-template-columns:repeat(auto-fill,160px)]">
    {%- for record in records.records %}
      <div class="grid grid-rows-subgrid gap-y-1 [grid-row:span_2]">
        <a href="https://www.discogs.com/master/{{ record.id }}" class="grid items-end">
          {% set alt -%}Cover of {{ record.title }} by {{ record.artist }}{%- endset %}
          {% set title -%}{{ record.title }} by {{ record.artist }}{%- endset %}
          {% image record.coverUrl, alt, title, ["160"], "object-fit b-2 hover:rounded hover:outline hover:outline-4 hover:outline-blue-600 dark:hover:outline-yellow-500", record.id %}
        </a>
        <div class="gapy-y-1 flex flex-col text-sm">
          <div class="text-balance font-bold">{{ record.title }}</div>
          <div class="text-xs">{{ record.artist }}</div>
          <div class="text-xs">{{ record.year }}</div>
        </div>
      </div>
    {%- endfor %}
  </div>
</div>

<div class="my-8">
  <p>Covers provided (mostly) by <a href="https://www.discogs.com/">Discogs</a> or wherever I could find them.</p>
</div>
