<footer class="w-full p-0 text-sm">
  <div class="mx-auto w-full max-w-3xl p-4">
    <div class="mb-8 flex flex-wrap gap-x-8 gap-y-4">
      <a href="/books">/books</a>
      <a href="/records">/records</a>
      <a href="/colophon">/colophon</a>
      <a href="/now">/now</a>
      <a href="/uses">/uses</a>
    </div>
    <p>Created with ❤️ in Ogden, UT</p>
    <p>&copy; 2022-2026 {{ meta.owner }}</p>
  </div>
</footer>
