<footer class="w-full bg-[#e6e9ef] p-0 transition-colors duration-500 ease-in-out dark:bg-[#1e2030]">
  <div class="mx-auto w-full max-w-3xl p-4">
    <div class="mb-4 mt-8 flex flex-wrap gap-x-8 gap-y-4">
      <a href="/books">/books</a>
      <a href="/records">/records</a>
      <a href="/colophon">/colophon</a>
      <a href="/now">/now</a>
      <a href="/uses">/uses</a>
    </div>
    <p>Created with ❤️ in Ogden, UT</p>
    <p>&copy; 2022-2026 {{ meta.owner }}</p>
  </div>
</footer>
